/************************** 
Main Section animation style
****************************/
/* /* main bg */

@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;
   transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}
   10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}
   17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}
   33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}
   45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

@keyframes shake{0%,100%{transform:rotate(0deg);transform-origin:50% 50%}10%{transform:rotate(8deg)}
20%,40%,60%{transform:rotate(-10deg)}30%,50%,70%{transform:rotate(10deg)}80%{transform:rotate(-8deg)}90%{transform:rotate(8deg)}}
   
/* main title */
/* main title h1.main-first, main-second, main-third */
/* @keyframes showup{0%{opacity:0;} 20%{opacity: 1;} 100%{opacity: 1;} 100%{_opacity: 0;}} */

/* hidden title h1 */
@keyframes slidein{0%{margin-left:-800px;opacity:0;} 20%{margin-left:-800px;opacity:0;} 35%{margin-left:0;opacity: 1;} 100%{margin-left:0;opacity:1;}}

/* hidden title */
@keyframes reveal{0%{opacity: 0; width:0;} 20%{opacity: 1; width:0;} 30%{width:80%;} 80%{opacity:1;} 100%{opacity: 1; width:80%;}}

/* main title */
/* @keyframes fadeOut{0%{opacity:1;} 20%{opacity:1;} 50%{opacity:0;}100%{opacity: 0;}} */