@media screen and (max-width:1290px){



/* portfolio section */
#prtfolSec .prtfol-box .prtfol-txt{padding:3%;}
#prtfolSec .prtfol-box .prtfol-txt .prtfol-tag span{font-size:16px;}
#prtfolSec .prtfol-box .prtfol-txt .prtfol-btn a{font-size:14px;}
}


@media screen and (max-width:1024px){

   
}


@media screen and (max-width:890px){

    

    

}