@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/********************
 Hidden Navigation style
 *********************/
#hiddenNav{width:100%; height:100vh; background:#ba621c;top:0; font-size:30px; position:fixed; max-width:inherit; }
#hiddenNav .hiddenWrap{float:right; height:auto; padding:0 10px;}

#hiddenNav .hiddenWrap .hiddenTopBar{width:50px; height:auto; padding:10px;float:right;margin-top:20px; _position:fixed;
cursor:pointer;}
#hiddenNav .hiddenWrap .hiddenTopBar span{display:block; width:100%; height:3px; background: #fff;
border-radius: 10px; margin:5px auto; }
#hiddenNav .hiddenWrap .hiddenTopBar span:nth-child(1){transform:translateY(219%) rotate(45deg);} 
#hiddenNav .hiddenWrap .hiddenTopBar span:nth-child(2){transform:translateY(-50%) rotate(-45deg);} 

#hiddenNav .hiddenWrap ul{margin-top:60px;   padding-top:10px;}
#hiddenNav .hiddenWrap ul li{margin:20px; text-align: right; font-family: 'Montserrat'; }
#hiddenNav .hiddenWrap ul li a{display:block;text-transform: uppercase; color:#fff; position:relative; transition:color 0.4s ease;}
#hiddenNav .hiddenWrap ul li:hover a{color:#f8dfb8;}

#hiddenNav .hiddenWrap ul li a:before{content:''; box-sizing:border-box; display:block; z-index:-1; opacity:0.6;
height:50%; background:#f8dfb8;  width: 0; bottom:0; right: 0; transition:transform 0.5s linear; position:absolute;}
#hiddenNav .hiddenWrap ul li:hover a:before{ width:60%; }
#hiddenNav .hiddenWrap ul li:nth-child(3):hover a:before{width:50%;}
#hiddenNav .hiddenWrap ul li:nth-child(4):hover a:before{width:100%;}
#hiddenNav .hiddenWrap ul li:nth-child(5):hover a:before{width:80%;}

/* line hover effect */
/* #hiddenNav .hiddenWrap ul li a:after{content:''; box-sizing:border-box; display:block; 
bottom:0; height:2px; background:#fff;  width:0; right: 0;transition:all 0.5s linear; position:absolute;}
#hiddenNav .hiddenWrap ul li:hover a:after{ width:60%; }
#hiddenNav .hiddenWrap ul li:nth-child(3):hover a:after{width:50%;}
#hiddenNav .hiddenWrap ul li:nth-child(4):hover a:after{width:100%;}
#hiddenNav .hiddenWrap ul li:nth-child(5):hover a:after{width:80%;} */


/* common contents wrap style */
.contentsWrap{width:100%; height: 100vh; position:relative; z-index:2;   _display:none;}
.contentsWrap.tilt{overflow: hidden; pointer-events: none;}
.contentsWrap.tilt .contentsFront{transform: rotate(-10deg) translateZ(0); overflow:hidden;}

.contentsFront{background:#fff; transform-origin: center 70%;box-shadow: 4px -4px rgba(0, 0, 0, 0.39);transition:all 0.4s linear;
position:relative; z-index:3; pointer-events: auto;}

.contentsWrap.tilt #header{justify-content: center;}
.contentsWrap.tilt #header .topBar{display:none;}
/* .contentsWrap.tilt .sectionWrap{overflow: hidden;} */


/******************
 Header Style 
 *******************/
#header{width:100%;  height:100px; display: flex;justify-content: space-between; align-items: center; position:relative;
padding:0 50px; transition:all 0.4s linear; z-index:10; _border-bottom:1px solid #ba631c77; _background:#25381242;}


#header .topLogo{height:100%;_background: #ba621c; display: flex; justify-content: center; align-items: center;}
#header .topLogo h1{width:100%; text-align: center; font-family: 'Montserrat'; text-transform: uppercase;font-weight: 700;
font-size:40px; }

#header .topBar{width:35px; height:auto; z-index:10; cursor: pointer; }
#header .topBar span{display:block; width:100%; height:4px; background: #fff; _border-radius: 10px;
margin:8px auto; position:relative;transition:width 0.4s ease;}

#header .topBar::before{content:''; display: block; box-sizing: border-box; width:120px; height:50px; background:#ba621c; 
position:absolute; z-index:-1; left:-20px; opacity:0.8; transform:skewX(10deg);}
#header .topBar:hover span:nth-child(1){width:80%;right:20%;}
/* #header .topBar:hover span:nth-child(2){width:0%; } */
#header .topBar:hover span:nth-child(3){width:60%;right:20%; }



/*****************
Main Section Style 
 ******************/
/* #mainSec{background:#25381242;} */
#mainSec .mainTit{width:100%; height:50%;_display: flex; _flex-direction:column;  _display:none; position:relative;
justify-content: center; ;}
#mainSec .mainTit h1{font-size:100px; font-family: 'Noto Sans KR'; }
#mainSec .mainTit h1.topTit,
#mainSec .mainTit h1.botTit{left:-50%; border-bottom:1px solid #253812;}
#mainSec .mainTit h1.midTit{display:flex; justify-content: center;align-items: center; transition:transform 1.2s linear;
_border-bottom:1px solid #253812;}
#mainSec .mainTit h1.midTit.active{transform:translateX(-45%) ;}
#mainSec .mainTit span{display: block; width:70%; position:absolute; left:10%; box-sizing: border-box;padding:20px;
font-weight: 600; font-size: 40px; color:#253812; bottom:40%;}



 /*****************
 About Section Style 
 ******************/
 
 #aboutSec .aboutBox{width:100%; height:100%;position:relative; margin-top:30px;}
 #aboutSec .aboutVideo{width:50%;  float:left; display:flex; justify-content: flex-start; align-items: center; overflow: hidden;}
 #aboutSec .aboutVideo video{width:60%;display: block; box-sizing: border-box; padding:20px;  }

#aboutSec .aboutTxt{_float:right; width:60%; height:100%;display:flex; justify-content: center; flex-direction: column;
font-family: 'Noto Sans KR'; position:absolute; right:0;}
#aboutSec .aboutTxt h1{font-weight: 700; font-size: 40px;text-align: right; text-transform: uppercase; padding-bottom:10px;
border-bottom:2px solid #253812; padding:10px 0;}
#aboutSec .aboutTxt h1 span{display: inline-block;color:#ba621c;}
 #aboutSec .aboutTxt .aboutInfo{width:100%; height: 100%;  font-family: 'Montserrat';
overflow:hidden; padding:50px 10px 0 10px ; }
 #aboutSec .aboutTxt .aboutInfo p{font-size:20px;font-weight: 600;text-align: justify;}


 /*****************
 Skill Section Style 
 ******************/
 
/* #skillSec{margin-top:50px;} */

#skillSec .skillGrid{width:100%; height:auto;display:grid; grid-template-columns: repeat(3,1fr); grid-template-rows: repeat(2, minmax(200px,auto));
gap:5px; padding-top:30px;}
/* #skillSec .skillGrid .item{border:2px solid #f8dfb8;} */

#skillSec .skillGraph{width:100%; height:100%; display:flex; flex-direction: column; position: relative;}
#skillSec .skillGraph .graphContainer{width:100%; height:100%; display: flex; position:relative}
#skillSec .skillGraph .graphContainer .graphCircle{width:100%; margin:0 15px;display:flex; flex-direction: column;
justify-content: center; align-items: center; position:relative;}
#skillSec .skillGraph .graphContainer .graphCircle p{font-family: 'Montserrats';font-size:30px; font-weight: 700;}
#skillSec .skillGraph .graphContainer .graphCircle canvas{position:absolute;}



#skillSec .skillGrid .item .skillTxt{width:100%; height:auto; text-align:center; font-size:20px; font-weight: 600;
color:#253812;}


/*****************
 Portfolio Section Style 
 ******************/
#prtfolSec .prtfolCon{width:100%; _height:100%; _border:1px solid #253812; margin-bottom:10px;box-shadow:3px 3px 15px rgba(0, 0, 0, 0.233);
max-width:1200px;}
#prtfolSec .prtfolBox{width:100%; height:auto; display:flex; justify-content: space-between; align-items: center; position:relative;
padding:0 5% 0 0;}
#prtfolSec .prtfolBox .prtfolImg{_width:45%; height:400px; _background:#ba621c; _margin:20px; _display:flex; _justify-content: center;
_align-items: center;}
/* #prtfolSec .prtfolBox:nth-child(2) .prtfolImg{background: #253812;;} */
#prtfolSec .prtfolBox .prtfolImg img{height:100%;}
#prtfolSec .prtfolBox .prtfolTxt{width:50%; _height:150px; display:flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;}
#prtfolSec .prtfolBox .prtfolTxt h2{width:100%; font-size: 30px; display:flex; justify-content: flex-start;}
#prtfolSec .prtfolBox .prtfolTxt h2 span{display:block; text-transform: uppercase; margin-right:10px; }
#prtfolSec .prtfolBox .prtfolTxt span{display:inline-block; margin-bottom:30px;}
#prtfolSec .prtfolBox .prtfolTxt p{width:100%; text-align: justify;}
#prtfolSec .prtfolBox .prtfolTxt .prtfolBtn{width:60%; margin-top:30px; display:flex; justify-content: space-between; align-items: center;}
#prtfolSec .prtfolBox .prtfolTxt .prtfolBtn a{width:45%; height:50px; padding:10px;  border:1px solid #253812; text-align: center;
_line-height: 1.2;}


#prtfolSec .prtfolNext,
#prtfolSec .prtfolPrev{color:#ba621c; }